
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img src="~/Content/societe-generale-logo.png" width="150" height="100" />
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=" navbar-left">@Html.ActionLink("Team", "Team", "UnitDetails")</li>
                <li> @Html.ActionLink("New Requirement", "ReqInput")</li>
                <li style="float:right">@Html.ActionLink("Sign Out", "Login", "Login")</li>

            </ul>
        </div>
    </div>
</div>

